extends ../components/base/layout

block variables
  - const title = "global"
  - const openGraph = true
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = false
  - const footerMods = ""
  - const currentUrl = "catalog.html"
  - const hasTitle = true

block main
  main.page
    +categories()
    +products()
    +feedback()
    +footer()
block modals
