extends ../components/base/layout

block variables
  - const title = "Каталог"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "catalog.html"
  - const hasTitle = true
  -
    const breadcrumbs = [
      {
        isLink: true,
        href: "#",
        title: "Главная"
      },
      {
        isLink: false,
        href: "#",
        title: "История завода"
      }
    ]

block main
  main.page
    +breadcrumbs(breadcrumbs)
    +history()
    +feedback()
block modals
