extends ../components/base/layout

block variables
  - const title = "Цены"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "price.html"
  -
    const breadcrumbs = [
      {
        isLink: true,
        href: "#",
        title: "Главная"
      },
      {
        isLink: false,
        href: "#",
        title: "Цены"
      }
    ]

block main
  main.page
    +page-top("Цены", breadcrumbs)
    +price()
    +feedback()
block modals
