extends ../components/base/layout

block variables
  - const title = "Каталог"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "catalog.html"
  - const hasTitle = true
  - const categoriesHasModifier = true
  - const productsHasModifier = true
  -
    const breadcrumbs = [
      {
        isLink: true,
        href: "#",
        title: "Главная"
      },
      {
        isLink: false,
        href: "#",
        title: "Каталог"
      }
    ]

block main
  main.page
    +page-top("Каталог", breadcrumbs)
    +categories()
    +products()
    +feedback()
block modals
