mixin 404()
  .section.not-found
    .container
      .not-found__wrapper
        .not-found__text 404
         .not-found__image
           +img("content/not-found", "not-found", "png", "", "", "")
        .not-found__title Страница не найдена
        .not-found__description Cтраница, на которую вы пытаетесь попасть не существует или была удалена.
        a.not-found__btn.btn Вернуться на главную страницу

