mixin about()
    section.page__about.about
      .container
        .about__wrapper
          .about__column
            .about__title.title О компании
            .about__text ООО "Улица Бетонная" производит железобетонные изделия (ЖБИ) для строительства: сваи железобетонные, плиты дорожные, плиты аэродромные, заборы и другие конструкции. Мы работаем с 20XX года, используем качественные материалы и современные технологии, чтобы обеспечить клиентов прочной и долговечной продукцией. Доставка по региону, цены от производителя. Звоните!
            a.btn.btn--white.about__btn(href="#") Подробнее
          .about__column
            .about__image
              +img("content/about", "about", "png", '670', '370', '')
