mixin advice ()
      .advice.page__advice
        .container
          .advice__background
            .advice__content
              .advice__text Быстрый расчёт заявки! Хотите так же? Обращайтесь!
              a.advice__btn(href="#", aria-label="Получить консультацию", data-open-modal="modal-consultation-form")
               span Получить консультацию
            .advice__image
              img(src="img/content/advice/bg.png" width="" height="" alt="background")
