mixin article-card()
  section.article-card
    .container
      h1.article-card__title Технология производства железобетона: от смеси до готового изделия
      p Железобетон (ЖБИ) – композитный материал, сочетающий прочность бетона на сжатие и устойчивость стальной арматуры к растяжению. Рассмотрим ключевые этапы его производства.
      h2 1. Подготовка сырья
      .article-card__image.article-card__image--right
       +img("content/article", "podgotovka-syrya", "png", "", "", "")
      h3 Компоненты бетонной смеси:
      ul
        li <strong> Цемент </strong> (Портландцемент М400–М500) – вяжущая основа.
        li <strong> Заполнители </strong>
          ul
            li Песок (фракция 0,14–5 мм, без глинистых примесей).
            li Щебень (гранитный или известняковый, фракция 5–20 мм).
        li <strong> Вода </strong> (техническая, без солей и органики).
        li <strong> Добавки </strong> (пластификаторы, ускорители/замедлители твердения, противоморозные).
      h3 Арматура:
      ul
        li Стальные стержни (класс А400–А500), сетки или каркасы.
        li Возможно применение предварительно напряженной арматуры для повышения прочности.
      h2 2. Приготовление бетонной смеси:
      ol
        li <strong> Дозирование </strong> – компоненты загружаются в бетоносмеситель в строгих пропорциях (по массе или объему).
        li <strong> Перемешивание </strong>  – в гравитационных или принудительных смесителях до однородности (2–5 минут).
        li <strong> Контроль качества </strong> – проверка подвижности (осадка конуса), прочности на образцах-кубах.
      h2 3. Формование изделий
      .article-card__image.article-card__image--left
        +img("content/article", "formovanie-izdelij", "png", "", "", "")
      h3 Основные методы:
      ul
        li <strong> Цемент </strong> (Портландцемент М400–М500) – вяжущая основа.
        li <strong> Заполнители </strong>
          ul
            li Песок (фракция 0,14–5 мм, без глинистых примесей).
            li Щебень (гранитный или известняковый, фракция 5–20 мм).
        li <strong> Вода </strong> (техническая, без солей и органики).
        li <strong> Добавки </strong> (пластификаторы, ускорители/замедлители твердения, противоморозные).
      .clear-fix
      h3 Этапы
      ol
        li Подготовка формы (смазка антиадгезионным составом).
        li Укладка арматуры (с фиксацией пластиковыми фиксаторами для защитного слоя).
        li Заливка бетона и уплотнение (вибрация, вакуумирование).


      h2 4. Твердение бетона
      .article-card__image.article-card__image--right
       +img("content/article", "tverdenie-betona", "png", "", "", "")
      ul
       li <strong> Тепловлажностная обработка (ТВО) </strong> в пропарочных камерах (ускорение процесса):
        ul
          li Нагрев до +70–90°C за 2–3 часа.
          li Выдержка 8–12 часов.
          li Охлаждение (скорость не более 30°C/час).
      p Результат: бетон набирает 70% прочности за 12–24 часа.
      ul
       li <strong> Естественное твердение </strong> (при температуре +20°C и влажности 90–100%):
        ul
          li Набор прочности за 28 суток.
          li Набор прочности за 28 суток.
      p Твердение — это процесс гидратации цемента, при котором минералы в его составе (C₃S, C₂S, C₃A, C₄AF) вступают в реакцию с водой, образуя кристаллические структуры. В результате бетон постепенно набирает прочность.
      p Твердение бетона — критически важный процесс, определяющий его долговечность и несущую способность. Соблюдение температурно-влажностного режима, правильный уход и контроль прочности позволяют получить качественную конструкцию.
      p Для ответственных объектов (фундаменты, колонны) используйте пропаривание или противоморозные добавки в холодное время года.

      h2 5. Демонтаж форм и финишная обработка
      ul
        li Распалубка (через 12–24 часа при ТВО).
        li Шлифовка поверхностей (для плит перекрытий).
        li Нанесение защитных покрытий (гидрофобизаторов).

      h2 6. Контроль качества и складирование
      .article-card__image.article-card__image--left
        +img("content/article", "kontrol-kachestva", "png", "", "", "")
      ul
        li <strong> Испытания: </strong>
         ul
          li Прочность на сжатие (прессом).
          li Морозостойкость (циклическое замораживание).
          li Водонепроницаемость (метод «мокрого пятна»).
        li <strong> Маркировка </strong> (номер партии, дата изготовления, ГОСТ).
        li <strong> Хранение </strong> на поддонах под навесом или в штабелях.
      .clear-fix
