mixin articles()
  -
    const articleItems = [
      {
        href: "#",
        title: "Технология производства железобетона: от смеси до готового изделия",
        text: "Описание процесса изготовления ЖБИ: состав бетона, армирование, формовка, сушка и контроль качества.",
        image: {
          src: "article-1",
          format: "png",
          width: "460",
          height: "280",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Долговечность железобетона: как продлить срок службы конструкций",
        text: "Факторы, влияющие на износ ЖБИ (влажность, перепады температур, нагрузки), и способы защиты.",
        image: {
          src: "article-2",
          format: "png",
          width: "460",
          height: "280",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Частые ошибки при монтаже ЖБИ и как их избежать",
        text: "Разбор типичных проблем при установке железобетонных изделий и советы по правильному монтажу.",
        image: {
          src: "article-3",
          format: "png",
          width: "460",
          height: "280",
          alt: "image"
        }
      },
    ]

  section.page__articles.articles
    .container
      if (singleTitle)
          h1.articles__title Статьи
      else
          .articles__header
            h1.articles__title Все статьи
            a.btn.btn--white(href="#", aria-label="Все объекты") Все статьи
      .articles__wrapper
        each item in articleItems
            .articles__item
              +article(item)
      if (hasPagination)
              .articles__pagination.pagination
                .pagination__button.pagination__button--start
                .pagination__button.pagination__button--prev
                ul.pagination__list.list-reset
                  li.pagination__item.is-active
                    a.pagination__link 1
                  li.pagination__item
                    a.pagination__link 2
                  li.pagination__item
                    a.pagination__link 3
                  li.pagination__item
                    a.pagination__link 4
                  li.pagination__item
                    a.pagination__link 5
                  li.pagination__item
                    a.pagination__link ...
                  li.pagination__item
                    a.pagination__link 46
                .pagination__button.pagination__button--next
                .pagination__button.pagination__button--end















