mixin callback()
  -
    const formData = {
      title: "Заказать обратный звонок",
      desc: 'Оставьте заявку – мы перезвоним, проконсультируем по цене, доставке и ответим на вопросы.',
    }
  section.callback
    +modal-form(formData)
