mixin categories(categoryItems)
  section(class=categoriesHasModifier ? 'page__categories page__categories--another categories' : 'page__categories categories' )
    .container
      .categories__wrapper
        each item in categoryItems
            .categories__item
              +category-card(item)
















