mixin category-card(data)
  a.category-card(href=data.href)
    .category-card__image
      +img("content/categories", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
    .category-card__body
        h3.category-card__title!=data.title

















