mixin header-top()
  -
  .header-top
    .container
      .header-top__wrapper
        a.header-top__email(href="mailto:Flagman.gbi@mail.ru") Flagman.gbi@mail.ru
        .header-top__actions
          a.header-top__button(href="#", aria-label="заказать обратный звонок")
            span заказать обратный звонок
          .header-top__contacts
            a.header-top__social-btn.header-top__social-btn--whatsapp(href="#", aria-label="Перейти в whatsapp")
              +icon("whatsapp", 30, 31)
            a.header-top__social-btn.header-top__social-btn--telegram(href="#", aria-label="Перейти в telegram")
              +icon("telegram", 26, 21)
            a.header-top__phone(href="tel:89166426203", aria-label="Позвонить по телефону") 8 (916) 642-62-03
