mixin intro()
  section.page__intro.intro
    .container
       .intro__background
        .intro__content
          .intro__title Железобетонные изделия от завода-изготовителя
          .intro__text Производство и продажа железобетонных изделий (ЖБИ) от завода-изготовителя. Собственное производство, контроль качества на всех этапах, соответствие ГОСТ. Работаем с оптовыми и розничными покупателями. Гарантируем прочность, долговечность и конкурентные цены на всю продукцию!
          +btn({type: "button", text: "Получить консультацию"}).btn.intro__btn
        .intro__image
           img(src="img/content/intro/banner.webp" width="" height="" alt="background")


