mixin intro()
  section.page__intro.intro
    .container
          .intro__background
            .intro__wrapper
              .intro__content
                .intro__title Железобетонные изделия от завода-изготовителя
                .intro__text Производство и продажа железобетонных изделий (ЖБИ) от завода-изготовителя. Собственное производство, контроль качества на всех этапах, соответствие ГОСТ. Работаем с оптовыми и розничными покупателями. Гарантируем прочность, долговечность и конкурентные цены на всю продукцию!
                a.btn получить консультацию
            .intro__image-bg.intro__image-bg--draft-bottom
              +img("content/intro", "draft-bottom", "png", 485, 166, "")
            .intro__image-bg.intro__image-bg--draft-top
              +img("content/intro", "draft-top", "png", 433, 95, "")
            .intro__image-bg.intro__image-bg--picture-top
              +img("content/intro", "picture-top", "png", 388, 233, "")
            .intro__image-bg.intro__image-bg--picture-bottom
              +img("content/intro", "picture-bottom", "png", 490, 286, "")


