mixin object(data)
    .object
      a.object__image(href=data.href)
        +img("content/objects", data.image.src, data.image.format, data.image.width, data.image.height, data.image.alt)
      a.object__title(href=data.href)!=data.title
      if (data.objects)
         div.object__products-title Продукция
         ul.object__products-list.list-reset
           each subitem in data.objects
            li.object__products-item
              a.object__products-link(href=data.href)!=subitem.text
      a.btn.btn--white.object__btn(href=data.href) Подробнее
