mixin objects()
  -
    const objectItems = [
      {
        href: "#",
        title: "Мытищинская скоросная хорда (Автомобильная дорога Виноградово – Болтино – Тарасовка)",
        image: {
          src: "mytishchinskaya-skorosnaya-horda",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },

      {
        href: "#",
        title: "Строительство жилых домов (Архитектурный проект «Родина Парк») г. Москва",
        image: {
          src: "stroitelstvo-zhilyh-domov",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "С80.30-8"
          },
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },

      {
        href: "#",
        title: "МЦД-1 Белорусско-Савёловский диаметр, станция Тестовская, г. Москва",
        image: {
          src: "mcd",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "С80.30-8"
          },
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },

      {
        href: "#",
        title: "Мытищинская скоросная хорда (Автомобильная дорога Виноградово – Болтино – Тарасовка)",
        image: {
          src: "mytishchinskaya-skorosnaya-horda2",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "С80.30-8"
          },
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },
      {
        href: "#",
        title: "Строительство жилых домов (Архитектурный проект «Родина Парк») г. Москва",
        image: {
          src: "stroitelstvo-zhilyh-domov2",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "С80.30-8"
          },
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },
      {
        href: "#",
        title: "МЦД-1 Белорусско-Савёловский диаметр, станция Тестовская, г. Москва",
        image: {
          src: "mcd2",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        objects: [
          {
            href: "#",
            text: "С80.30-8"
          },
          {
            href: "#",
            text: "ПАГ 20 А800"
          },
          {
            href: "#",
            text: "ПО-2М"
          },
          {
            href: "#",
            text: "ПО-2"
          },
          {
            href: "#",
            text: "ПО-3М (с фартуком)"
          },
          {
            href: "#",
            text: "2П 18-15-30"
          },
         ]
      },
    ]

  section.page__objects.objects
    .container
      //.objects__advice.advice
        .advice__background
          .advice__content
            .advice__text Быстрый расчёт заявки! Хотите так же? Обращайтесь!
            .advice__button Получить консультацию
          .advice__image
            img(src="img/content/advice/advice.svg" width="" height="" alt="background")
      .objects__header
        .objects__title.title Наши объекты
        a.btn.btn--white(href="#", aria-label="Все объекты") Все объекты
      .objects__wrapper
        each item in objectItems
          .objects__item
              +object(item)



