mixin object-card()
  section.page__object-card.object-card
    .container
      h2 Общая информация
      .object-card__wrapper
        .object-card__sliders
          .object-card__slider
            .swiper.object-card__slider-body(data-slider="object-slider")
              .swiper-wrapper
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "1", "png", "", "", "")
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "2", "png", "", "", "")
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "3", "png", "", "", "")
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "1", "png", "", "", "")
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "2", "png", "", "", "")
                .object-card__slider-item.swiper-slide
                  .object-card__slider-image
                    +img("content/sliders", "3", "png", "", "", "")                                                            
          .object-card__sub-slider
            .object-card__button.object-card__button--top(data-slider="object-slider-button-prev")
            .swiper.object-card__sub-slider-body(data-slider="object-sub-slider")
              .swiper-wrapper
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "1", "png", "", "", "")
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "2", "png", "", "", "")
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "3", "png", "", "", "")
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "1", "png", "", "", "")
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "2", "png", "", "", "")
                 .object-card__sub-slider-item.swiper-slide
                   .object-card__sub-slider-image
                       +img("content/sliders", "3", "png", "", "", "")                                                                     
            .object-card__button.object-card__button--bottom(data-slider="object-slider-button-next")
        .object-card__description
          ul.object-card__description-list.list-reset
            li.object-card__description-item
              span.object-card__description-label Название:
              span.object-card__description-value ЖК «Лесные Поляны»
            li.object-card__description-item
              span.object-card__description-label Местоположение:
              span.object-card__description-value Химки, Московская область
            li.object-card__description-item
              span.object-card__description-label Застройщик:
              span.object-card__description-value ООО «СтройИнвестПроект»
            li.object-card__description-item
              span.object-card__description-label Год строительства:
              span.object-card__description-value 2023–2025
            li.object-card__description-item
              span.object-card__description-label Этажность:
              span.object-card__description-value 12-этажные монолитно-каркасные дома с подземным паркингом
            li.object-card__description-item
              span.object-card__description-label Особенности проекта:
              span.object-card__description-value Энергоэффективные технологии, благоустроенная территория, развитая инфраструктура.
      h3 Применение железобетонных изделий нашего завода
      h4 1. Сваи железобетонные (серия 1.011.1-10)
      ul
        li Использованы для усиления фундамента из-за слабых грунтов (торфянистых прослоек).
        li Глубина погружения: 8–12 м.
        li Обеспечили устойчивость зданий и предотвратили неравномерную усадку.
      h4 2. Плиты дорожные (ПДН, ПАГ)
      ul
        li Уложены при обустройстве внутриквартальных проездов и подъездов к домам.
        li Выдержали высокие нагрузки от спецтехники во время строительства.
        li Обеспечили долговечность покрытия (расчетный срок службы – 30 лет).
      h4 3. Плиты перекрытия пустотелые (ПК 60-15-8, ПБ 72-12-8)
      ul
        li Применены в межэтажных перекрытиях, что ускорило монтаж и снизило нагрузку на несущие конструкции.
        li Хорошая звуко- и теплоизоляция благодаря пустотной структуре.

      h3 Результаты сотрудничества
      ul
        li Сокращение сроков строительства на 15% за счет готовых ЖБИ.
        li Полное соответствие ГОСТ и требованиям безопасности.
        li Положительные отзывы застройщика о качестве продукции.
      p Сегодня "Улица Бетонная"— это современный завод, чьи изделия лежат в основе дорог, мостов, промышленных объектов и жилых комплексов. Мы гордимся тем, что строим буквально "фундамент" будущего— и приглашаем вас в число наших партнеров!
      p Звоните: <a class="" href="tel:89166426203" aria-label="Позвонить по телефону">8 (916) 642-62-03</a>
