mixin pagination()
  .pagination
      .pagination__button.pagination__button--start
      .pagination__button.pagination__button--prev
      ul.pagination__list.list-reset
        li.pagination__item.is-active
          a.pagination__link 1
        li.pagination__item
          a.pagination__link 2
        li.pagination__item
          a.pagination__link 3
        li.pagination__item
          a.pagination__link 4
        li.pagination__item
          a.pagination__link 5
        li.pagination__item
          a.pagination__link ...
        li.pagination__item
          a.pagination__link 46
      .pagination__button.pagination__button--next
      .pagination__button.pagination__button--end
