mixin price()
  section.price
    .container
      .price__title.title Цены
      .accordion(data-accordion="parent")
        .accordion__item(data-accordion="element")
          .accordion__button(data-accordion="button") Сваи
            .plus
              span
              span
              span
          .accordion__content(data-accordion="content") Контент
        .accordion__item(data-accordion="element")
          .accordion__button(data-accordion="button") Плиты дорожные
            .plus
              span
              span
              span
          .accordion__content(data-accordion="content") Контент




