mixin price()
  section.price
    .container
      h1.price__title Цены
      .price__accordion.accordion-price(data-accordion="parent")

        .accordion-price__element(data-accordion="element")
          .accordion-price__button(data-accordion="button") Сваи
            .plus
              span
              span
              span
          .accordion-price__content(data-accordion="content")
            .accordion-price__content-wrapper
             .price__sub-category
               .price__sub-category-title Сваи 300x300
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 350x350
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 400x400
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.


        .accordion-price__element(data-accordion="element")
          .accordion-price__button(data-accordion="button") Плиты дорожные
            .plus
              span
              span
              span
          .accordion-price__content(data-accordion="content")
            .accordion-price__content-wrapper
             .price__sub-category
               .price__sub-category-title Сваи 300x300
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 350x350
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 400x400
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.


        .accordion-price__element(data-accordion="element")
          .accordion-price__button(data-accordion="button") Плиты аэродромные ПАГ-14 ПАГ-18
            .plus
              span
              span
              span
          .accordion-price__content(data-accordion="content")
            .accordion-price__content-wrapper
             .price__sub-category
               .price__sub-category-title Сваи 300x300
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label Свая забивная бетонная С90.30-6 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 350x350
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
             .price__sub-category
               .price__sub-category-title Сваи 400x400
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
               .price__sub-category-item
                  span.price__sub-category-item-label С80.30-8 Серия 1.011.1-10
                  span.price__sub-category-item-price от 4 510 ₽/шт.
