mixin products(productsItems)
  section(class=productsHasModifier ? 'page__products page__products--another products' : 'page__products products' )
    .container
      if !(currentUrl == "sub-catalog-products.html")
        h2.products__title Часто заказывают
      .products__wrapper
        each item in productItems
          .products__item(data-open-modal="modal-order-form")
            +product(item)
      if (currentUrl == "index.html")
        a.btn.products__btn.btn--white(href="#", aria-label="Перейти в каталог") Перейти в каталог
      else
        +btn({type: "button", text: "Показать еще"}).products__btn.btn--white


