mixin products()
  -
    const productItems = [
      {
        href: "#",
        title: "Свая забивная бетонная СБ 30-3 Серия 1.011.1-10",
        price: "2 970",
        image: {
          src: "svaya-zabivnaya-betonnaya",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        characteristics: {
          length: "3000 мм.",
          height: "300 мм.",
          width: "300 мм.",
          weight: "700 кг.",
        },
        article: {
          number: "240297",
        },
      },

      {
        href: "#",
        title: "Бетонные заборы П6В с фартуком Серия 3.017-1, Альбом ИЖ 31-77",
        price: "4 510",
        image: {
          src: "betonnye-zabory",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        characteristics: {
          length: "4000 мм.",
          height: "150 мм.",
          width: "2500 мм.",
          weight: "1 600 кг.",
        },
        article: {
          number: "240297",
        },
      },

      {
        href: "#",
        title: "Плиты 2П 30-18-30 ТУ",
        price: "8 231",
        image: {
          src: "plity-2P",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        characteristics: {
          length: "3000 мм.",
          height: "1750 мм.",
          width: "170 мм.",
          weight: "2 200 кг.",
        },
        article: {
          number: "240297",
        },
      },
      {
        href: "#",
        title: "Плиты 2П 30-18-30 ТУ",
        price: "12 173",
        image: {
          src: "plity-2P",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        characteristics: {
          length: "3000 мм.",
          height: "1750 мм.",
          width: "170 мм.",
          weight: "2 200 кг.",
        },
        article: {
          number: "240297",
        },
      },
      {
        href: "#",
        title: "Плиты 2П 30-15-15 (H=160) ГОСТ 21924.2-84",
        price: "4 510",
        image: {
          src: "plity-2P",
          format: "png",
          width: "100",
          height: "100",
          alt: "image"
        },
        characteristics: {
          length: "4000 мм.",
          height: "150 мм.",
          width: "2500 мм.",
          weight: "1 600 кг.",
        },
        article: {
          number: "240297",
        },
      }
    ]

  section.page__products.products
    .container
      .products__wrapper
        each item in productItems
          .products__item
            +product(item)
      a.btn.products__btn.btn--white(href="#", aria-label="Перейти в каталог") Перейти в каталог


