mixin sub-categories()
  -
    const categoryItems = [
      {
        href: "#",
        title: "Сваи железобетонные",
        image: {
          src: "svai-zhelezobetonnye",
          format: "png",
          width: "460",
          height: "120",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Плиты дорожные",
        image: {
          src: "plity-dorozhnye",
          format: "png",
          width: "460",
          height: "120",
          alt: "image"
        }
      },
      {
        href: "#",
        title: "Плиты аэродромные ПАГ-14 ПАГ-18",
        image: {
          src: "plity-aerodromnye",
          format: "png",
          width: "460",
          height: "120",
          alt: "image"
        }
      },
    ]

  section(class=categoriesHasModifier ? 'page__categories page__categories--another categories' : 'page__categories categories' )
    .container
      .categories__wrapper
        each item in categoryItems
            .categories__item
              +category-card(item)
















