@use "../mixins" as *;
@use "../variables" as *;

.page {
  padding-top: 165px;
  @include vp-767  {
    padding-top: 164px;
  }
  &__intro {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__categories {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__products {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__objects {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__advantages {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__about {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__articles {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
  &__feedback {
    margin-bottom: 60px;
    @include vp-767 {
      margin-bottom: 40px;
    }
  }
}

.title {
  font-size: 36px;
  font-family: "Montserrat";
  font-weight: 700;
  color: $color-default-black;
  line-height: 110%;
  @include vp-1199 {
    font-size: 26px;
  }
  @include vp-1199 {
    font-size: 24px;
  }
}
