@use "../mixins" as *;
@use "../variables" as *;

.page {
  padding-top: 159px;
  &__intro {
    margin-bottom: 60px;
  }
  &__categories {
    margin-bottom: 60px;
  }
  &__products {
    margin-bottom: 60px;
  }
  &__objects {
    margin-bottom: 60px;
  }
  &__advantages {
    margin-bottom: 60px;
  }
  &__about {
    margin-bottom: 60px;
  }
}

.title {
  font-size: 24px;
  font-family: "Montserrat";
  font-weight: 700;
  color: $color-default-black;
}
