@use "../mixins" as *;
@use "../variables" as *;

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 0px 30px;
  border: none;
  height: 43px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;


  border-radius: 100px;
  box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.15);
  background: linear-gradient(180deg, #ff4548 0%, #d21013 100%);
  color: $color-default-white;

  cursor: pointer;
  user-select: none;

  transition: opacity $trans-default;

  outline: none;

  &--white {
    background: $color-default-white;
    color: $color-prussian-blue;
    border: 1px solid $color-alizarin;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
