@use "../mixins" as *;
@use "../variables" as *;

.category-card {
  background: #f3f7ff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: 100%;
  @include hover-focus {
    .category-card__title::after {
      background: url("../../img/sprite/arrow-active.svg") no-repeat center;
    }
    .category-card__image {
      transform: scale(1.2);
      img {
        left: -30px;
      }
    }
  }
  &__image {
    padding-bottom: 26.0869%;
    position: relative;
    display: block;
    transition: transform $trans-default;
    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: left $trans-default;
    }
  }
  &__body {
    padding: 20px;
  }
  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 140%;
    text-transform: uppercase;
    color: #003865;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    gap: 10px;
    @include vp-1199 {
      font-size: 16px;
    }
    @include vp-807 {
      word-break: break-all;
      font-size: 14px;
    }
    &::after {
      content: "";
      background: url("../../img/sprite/arrow.svg") no-repeat center;
      width: 30px;
      height: 30px;
      transition: transform, background $trans-default;
      flex-shrink: 0;
      @include vp-1199 {
        font-size: 16px;
      }
      @include vp-807 {
        content: none;
      }
    }
  }
}
