@use "../mixins" as *;
@use "../variables" as *;

.categories {
  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
    @include vp-1199 {
      grid-template-columns: 1fr 1fr;
    }
  }
  &__item {
  }
}

