@use "../mixins" as *;
@use "../variables" as *;

.cookies {
  padding: 25px 0;
  background: $color-default-white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  display: none;



  &.is-active {
    display: block;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

  }

  &__text {
    max-width: 815px;
    p {
      margin: 0;
      font-weight: 400;
      font-size: 16px;
      line-height: 137%;
      color: $color-default-black;
    }
  }
}
