.errors {
    &__item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 15px;
        }
        svg {
            flex-shrink: 0;
        }

    }
    &__text {
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #f00;
        margin: 0 0 0 0;
    }
}