@use "../mixins" as *;
@use "../variables" as *;

.header {
  z-index: 100;
  position: fixed;

  top: 0;

  width: 100%;

  transition: top $trans-default;

  &.is-open {
    .main-nav__toggle {
      span {
        &:nth-child(1) {
          top: 9px;
          transform: rotate(-45deg) translate(0, -50%);
        }

        &:nth-child(2) {
          opacity: 0;
          visibility: hidden;
        }

        &:nth-child(3) {
          top: 7px;
          transform: rotate(45deg) translate(0, 50%);
        }
      }
    }

    .main-nav__menu {
      transform: translateX(0);
    }
  }
}
