@use "../mixins" as *;
@use "../variables" as *;

.history {

  p {
    line-height: 150%;
    margin: 0 0 30px 0;
    &:last-of-type {
      margin: 0 0 60px 0;
    }
  }

  p + ol {
    margin: -20px 0 20px 0;
  }

  ol {
    margin: 0 0 20px 0;
    padding-left: 20px;
    line-height: 150%;
    li {
      margin: 0 0 10px 0;
      &:last-child {
        margin: 0 0 0 0;
      }
    }
  }

  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 30px 0;
    line-height: 120%;
    @include vp-1199 {
      font-size: 26px;
    }
    @include vp-807 {
      font-size: 24px;
    }
  }

  h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $color-default-black;
    margin: 0 0 20px 0;
  }

  h4 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-black;
    margin: 0 0 10px 0;
  }


  &__video {
    width: 608px;
    height: 268px;
    position: relative;
    overflow: hidden;
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
    @include vp-1199 {
      width: unset;
      float: unset;
      height: 332px;
      margin: 0 0 30px 0;
    }
    @include vp-807 {
        height: 254px;
    }
    @include vp-615 {
      height: 156px;
    }
      video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 15px;
    }
  }

  &__btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 63px;
    height: 63px;
  }

  &__overlay {
    position: absolute;
    left:0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

}

.clearfix {
  clear: both;
}

