@use "../mixins" as *;
@use "../variables" as *;


.intro {
    &__background {
      position: relative;
      background: url("../../img/content/intro/background-right.svg") right no-repeat;
      overflow: hidden;
      border-radius: 20px;
      &:before {
        content: url("../../img/content/intro/circle-top.svg");
        position: absolute;
        top: 0;
        right: 290px;
        z-index: 1;
        @include vp-1919 {
          right: 100px;
        }
      }
      &:after {
        content: url("../../img/content/intro/circle-bottom.svg");
        position: absolute;
        bottom: -3px;
        right: 0;
        @include vp-1919 {
          content: unset;
        }
      }
    }
    &__content {
      min-height: 372px;
      position: relative;
      z-index: 2;
      padding: 40px;
      max-width: 669px;
    }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $color-default-white;
    margin-bottom: 20px;
    @include vp-1919 {
      font-size: 30px;
    }
  }

  &__text {
    color: $color-default-white;
    margin-bottom: 20px;
    line-height: 150%;
  }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        max-width: unset;
      }
    }


  &__image-bg {
    position: absolute;
    &--draft-bottom {
      left: 570px;
      bottom: 0;
      mix-blend-mode: multiply;
    }
    &--draft-top {
      top:0;
      right: 0;
      mix-blend-mode: multiply;
      @include vp-1919 {
        right: -250px
      }
    }
    &--picture-top {
      right: 337px;
      top: 16px;
      z-index: 2;
      width: 388px;
      height: 233px;
      @include vp-1919 {
        width: 335px;
        height: 201px;
        right: 187px;
      }
    }
    &--picture-bottom {
      right: 0;
      top: 86px;
      z-index: 2;
      width: 490px;
      height: 286px;
      @include vp-1919 {
        width: 452px;
        height: 279px;
        right: -150px;
      }
    }
  }

}


