@use "../mixins" as *;
@use "../variables" as *;


.intro {
  &__background {
    position: relative;
    background:
      url("../../img/content/intro/background-left.svg") left no-repeat,
      url("../../img/content/intro/background-right.svg") right no-repeat;
    height: 372px;
    border-radius: 20px;
    overflow: hidden;
    &:before {
      content: url("../../img/content/intro/circle-top.svg");
      position: absolute;
      top: 0;
      right: 290px;
      z-index: 1;
    }
    &:after {
      content: url("../../img/content/intro/circle-bottom.svg");
      position: absolute;
      bottom: -3px;
      right: 0;
    }
  }
  &__image-bg {
    position: absolute;
    &--draft-bottom {
      left: 570px;
      bottom: 0;
      mix-blend-mode: multiply;
    }
    &--draft-top {
      top:0;
      right: 0;
      mix-blend-mode: multiply;
    }
    &--picture-top {
      right: 337px;
      top: 16px;
      z-index: 2;
      width: 388px;
      height: 233px;
      @include vp-1439 {
        width: 335px;
        height: 201px;
      }
    }
    &--picture-bottom {
      right: 0;
      top: 86px;
      z-index: 2;
      width: 490px;
      height: 286px;
      @include vp-1439 {
        width: 452px;
        height: 279px;
      }
    }
  }

  &__wrapper {
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 40px;
  }

  &__content {
    max-width: 669px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $color-default-white;
    margin-bottom: 20px;
  }

  &__text {
    color: $color-default-white;
    margin-bottom: 20px;
    line-height: 150%;
  }

}


