@use "../mixins" as *;
@use "../variables" as *;


.intro {
    &__background {
      position: relative;
      overflow: hidden;
      border-radius: 20px;
      min-height: 375px;
    }
    &__content {
      min-height: 372px;
      position: relative;
      z-index: 2;
      padding: 40px;
      max-width: 669px;
      @include vp-1199 {
        max-width: 540px;
      }
      @include vp-1023 {
        max-width: unset;
      }
      @include vp-767 {
        padding: 30px;
      }
    }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: $color-default-white;
    margin-bottom: 20px;
    @include vp-1199 {
      font-size: 30px;
    }
    @include vp-1023 {
      font-size: 28px;
    }
  }

  &__text {
    color: $color-default-white;
    margin-bottom: 20px;
    line-height: 150%;
  }

    &__image {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        @include vp-1023 {
          object-fit: unset;
          width: unset;
          max-width: unset;
        }
      }
    }

    &__btn {
      font-size: 16px;
      @include vp-767 {
        width: 100%;
      }
      @include vp-575 {
        padding: 0 20px;
      }
    }
}


