@use "../mixins" as *;
@use "../variables" as *;


.main-nav {
  display: flex;
  align-items: center;

  &__btn {
    display: none;
    font-size: 16px;
    @include vp-1199 {
      display: block;
      width: 100%;
      margin-top: 40px;
    }
    @include vp-767 {
      display: block;
      width: 100%;
      margin-top: 20px;
    }
  }

  &__toggle {
    position: relative;
    display: none;
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
    transition: opacity $trans-default;
    position: relative;
    z-index: 11;
    border: 1px solid $color-dodger-blue;
    border-radius: 4px;
    @include vp-1199 {
      display: block;
    }

    span {
      display: block;
      position: absolute;
      left: 9px;
      width: 20px;
      height: 2px;
      background-color: $color-prussian-blue;
      transition: transform $trans-default, opacity $trans-default,
      visibility $trans-default;
      &:nth-child(1) {
        top: 12px;
      }

      &:nth-child(2) {
        top: 50%;
        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 12px;
      }

    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    @include vp-1199 {
      z-index: 10;
      position: fixed;
      overflow: auto;
      top: 55px;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 80px 196px;
      background-color: $color-default-white;
      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
    }

    @include vp-1023 {
      padding: 80px 96px;
    }

    @include vp-767 {
      padding: 80px 20px;
    }

  }

  &__list {
    display: flex;

    @include vp-1199 {
      flex-direction: column;
    }

  }

  &__item {
    position: relative;
    margin: 0 1px 0 0;

    @include vp-1199 {
      border-bottom: 1px dashed $color-silver;
    }

    &--dropdown {
      .main-nav__link {
        &::after {
          content: "";
          width: 16px;
          height: 16px;
          background: url("../../img/sprite/dropdown.svg") no-repeat center;
          transition: transform, background $trans-default;
          margin-left: 10px;
          @include vp-1199 {
            content: "";
            width: 32px;
            height: 32px;
            background: url("../../img/sprite/dropdown-mobile.svg") no-repeat center;
            transition: transform $trans-default;
          }
        }
      }

      @media (min-width: 1199px) {
        @include focus-within {
          .main-nav__link {
            opacity: 0.8;
            border: 1px solid $color-dodger-blue;
            &::after {
              background: url("../../img/sprite/dropdown-active.svg") no-repeat center;
            }
            svg {
              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }

        @include hover-focus {
          .main-nav__link {
            opacity: 0.8;
            border: 1px solid $color-dodger-blue;
            &::after {
              background: url("../../img/sprite/dropdown-active.svg") no-repeat center;
            }

            svg {
              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &--dropdown.is-active {
      .main-nav__link {
        svg {
          @include vp-1199 {
            transform: rotate(180deg);
          }
        }
      }

      .main-nav__sublist {
        @include vp-1199 {
          display: block;
        }
      }

      .main-nav__link::after {
        transform: rotate(180deg);
      }

    }

  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px;
    color: $color-default-black;
    transition: opacity, border $trans-default;
    border: 1px solid transparent;
    border-radius: 100px;

    @include vp-1919 {
      padding: 5px 12px;
    }

    @include vp-1199 {
      padding: 5px 12px;
    }

    @include vp-1199 {
      justify-content: space-between;
      padding: 19px 0;
    }
    @media (min-width: 1199px) {
      @include hover-focus {
        opacity: 0.8;
        border: 1px solid $color-dodger-blue;
      }
    }

    svg {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      margin: 0 0 0 10px;
      transition: transform $trans-default;
      @include vp-1199 {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__sublist {
    z-index: 10;
    position: absolute;
    top: calc(100% + 5px);
    left: 0;
    width: max-content;
    margin: 0;
    list-style: none;
    background-color: $color-default-white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid $color-solitude;
    border-radius: 20px;
    transition: transform $trans-default, opacity $trans-default, visibility $trans-default;
    opacity: 0;
    visibility: hidden;
    @include vp-1199 {
      position: static;
      display: none;
      top: 0;
      left: 0;
      width: auto;
      min-width: unset;
      opacity: 1;
      visibility: visible;
      box-shadow: unset;
      border: unset;
      padding-bottom: 19px;
    }
  }

  &__subitem {
    display: flex;
    border-bottom: 1px solid $color-gainsboro;
    &:last-child {
      border-bottom: unset;
    }
    @include vp-1199 {
      border-bottom: none;
    }
  }

  &__sublink {
    font-weight: 400;
    font-size: 16px;
    padding: 14px 20px;
    color: $color-default-black;
    transition: opacity $trans-default;
    width: 100%;
    @include vp-1199 {
      padding: 10px 20px;
    }
    @media (min-width: 1199px) {
      @include hover-focus {
        opacity: 0.8;
        background: linear-gradient(180deg, $color-radical-red 0%, $color-venetian-red 100%);
        color: $color-default-white;
      }
    }
  }


}
