@use "../mixins" as *;
@use "../variables" as *;


.main-nav {
  display: flex;
  align-items: center;

  &__toggle {
    position: relative;
    display: none;

    width: 30px;
    height: 18px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;
    position: relative;
    z-index: 11;

    @include vp-1023 {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto 0 0;
    }

    span {
      display: block;
      position: absolute;

      left: 0;

      width: 30px;
      height: 2px;

      background-color: $color-default-black;

      transition: transform $trans-default, opacity $trans-default,
      visibility $trans-default;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        width: 25px;
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__menu {
    margin: 0 auto 0 0;

    @include vp-1023 {
      z-index: 10;
      position: fixed;
      overflow: auto;

      top: 60px;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      margin: 0;
      padding: 25px 20px 20px;

      //background-color: $color-prussian-blue;
      background-color: red;
      transition: transform $trans-default, visibility $trans-default,
      opacity $trans-default;
      transform: translateX(-100%);
    }


  }

  &__list {
    display: flex;

    @include vp-1023 {
      flex-direction: column;
    }


  }

  &__item {
    position: relative;
    margin: 0 1px 0 0;


    &--dropdown {
      cursor: pointer;

      @media (min-width: 1023px) {
        @include focus-within {
          .main-nav__link {
            opacity: 0.8;

            &::after {
              content: "";
            }

            svg {
              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }

        @include hover-focus {
          .main-nav__link {
            opacity: 0.8;

            &::after {
              content: "";
            }

            svg {
              transform: rotate(180deg);
            }
          }

          .main-nav__sublist {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &--dropdown.is-active {
      .main-nav__link {
        @include vp-1023 {
          opacity: 0.8;
        }

        svg {
          @include vp-1023 {
            transform: rotate(180deg);
          }
        }
      }

      .main-nav__sublist {
        @include vp-1023 {
          display: block;
        }
      }
    }

    &:last-child {
      margin: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    padding: 5px 15px;
    color: $color-default-black;
    transition: opacity, border $trans-default;
    border: 1px solid transparent;
    border-radius: 100px;

    @include vp-1023 {
      font-size: 18px;
    }

    &::after {
      content: none;
      position: absolute;

      top: 100%;
      left: -10px;

      width: 100%;
      height: 10px;
    }

    @include hover-focus {
      opacity: 0.8;
      border: 1px solid #3f82ff;
    }

    svg {
      flex-shrink: 0;

      width: 16px;
      height: 16px;
      margin: 0 0 0 10px;

      transition: transform $trans-default;
    }
  }

  &__sublist {
    z-index: 10;
    position: absolute;
    top: calc(100% + 10px);
    left: -10px;

    width: max-content;
    margin: 0;

    list-style: none;

    background-color: $color-default-white;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #dce7fd;
    border-radius: 20px;

    transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

    opacity: 0;
    visibility: hidden;

    @include vp-1023 {
      position: relative;
      display: none;
      top: 0;
      left: 0;

      width: auto;
      min-width: unset;
      padding: 10px 0 0 10px;

      border-radius: 0;
      background-color: $color-transparent;

      opacity: 1;
      visibility: visible;
    }
  }

  &__subitem {
    display: flex;
    border-bottom: 1px solid #dadada;
    @include vp-1279 {
      margin: 0 0 5px;
    }

    &:last-child {
      margin: 0;
    }
  }

  &__sublink {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 14px 20px;
    color: $color-default-black;

    transition: opacity $trans-default;
    width: 100%;
    @include hover-focus {
      opacity: 0.8;
      background: linear-gradient(180deg, #ff4548 0%, #d21013 100%);
      color: $color-default-white;
    }
  }


}
