@use "../mixins" as *;
@use "../variables" as *;

/*
.main-nav {
  &__toggle {
    z-index: 11;
    position: relative;
    display: none;

    width: 30px;
    height: 30px;

    cursor: pointer;
    user-select: none;

    transition: opacity $trans-default;

    @include vp-767 {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    span {
      display: block;
      position: absolute;

      left: 0;

      width: 100%;
      height: 3px;

      background-color: $color-default-white;

      transition: transform $trans-default, opacity $trans-default, visibility $trans-default;

      &:nth-child(1) {
        top: 0;
      }

      &:nth-child(2) {
        top: 50%;

        transform: translateY(-50%);
      }

      &:nth-child(3) {
        bottom: 0;
      }
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }

  &__list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    @include vp-767 {
      z-index: 10;
      position: fixed;
      flex-direction: column;
      justify-content: flex-start;

      top: 100px;
      right: 0;
      bottom: 0;
      left: 0;

      width: 100%;
      padding: 200px 20px 20px;

      background-color: rgba($color-black-russian, 0.9);

      transition: transform $trans-default, visibility $trans-default, opacity $trans-default;
      transform: translateX(100%);
    }
  }

  &__item {
    margin-right: 60px;

    @include vp-1023 {
      margin-right: 30px;
    }

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 30px;
    }

    &:last-child {
      margin-right: 0;

      @include vp-767 {
        margin-bottom: 0;
      }
    }
  }

  &__link {
    display: block;

    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;

    color: $color-default-white;

    transition: opacity $trans-default;
    transform: translate3d(0, 0, 0);

    &.is-active {
      color: $color-summer-sky;

      pointer-events: none;
    }

    @include hover-focus {
      opacity: 0.8;
    }
  }
}
*/


.main-nav {
  @include vp-1199 {
    display: none;
  }
  &__list {
    display: flex;
    align-items: center;
    gap: 30px;
    @include vp-1439 {
      gap: 20px;
    }
  }
  &__item {
    position: relative;
    padding: 10px 0;
    &:hover {
      .main-nav__link::after {
        transform: rotate(180deg);
      }
      .main-nav__sublist {
        opacity: 1;
        pointer-events: all;
        transform: translate(0, 0);
      }
    }
  }
  &__link {
    line-height: 100%;
    &--dropdown {
      display: flex;
      gap: 10px;
      align-items: center;
      &::after {
        content: url("../../img/sprite/dropdown.svg");
        width: 16px;
        height: 16px;
        transition: transform 0.3s;
      }
    }
  }
  &__sublist {
    position: absolute;
    left: 0;
    top: 100%;
    width: max-content;
    opacity: 0;
    pointer-events: none;
    transform: translate(0, 10%);
    transition: all 0.2s;

    background-color: #003865;
    display: grid;
    gap: 16px;
    font-size: 16px;
    padding: 20px;
    border-radius: 20px;
    z-index: 10;
  }
  &__sublink {
    color: #ffffff;
  }
}

.burger {
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: none;
  padding: 12px 9px;
  border: 1px solid #3F82FF;
  border-radius: 4px;
  @include vp-1199 {
    display: block;
  }
  &__lines {
    position: relative;
    height: 100%;
  }
  span {
    transition: all 0.2s;
    position: absolute;
    display: block;
    height: 2px;
    background-color: #003865;
    width: 100%;
    top: 0;
    left: 0;
    &:nth-child(2) {
      top: 50%;
      transform: translate(0, -50%);
    }
    &:last-child {
      top: auto;
      bottom: 0;
    }
  }
  &.active span {
    transform: rotate(45deg);
    top: calc(50% - 1px);
    &:nth-child(2) {
      transform: scale(0);
    }
    &:last-child {
      transform: rotate(-45deg);
      bottom: calc(50% - 1px);
    }
  }
}
