@use "../mixins" as *;
@use "../variables" as *;

.object-card {

  ul {
    line-height: 150%;
    margin: 0 0 20px 0;
  }

  ul + h3 {
    margin: 30px 0 20px 0;
  }

  h3 + ul li {
    margin-bottom: 10px;
  }

  p {
    line-height: 150%;
    margin: 0 0 20px 0;
  }

  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 30px;
    margin: 0 0 30px 0;
    line-height: 120%;
    @include vp-1199 {
      font-size: 26px;
    }
    @include vp-807 {
      font-size: 24px;
    }
  }

  p a {
    &:hover {
      opacity: 0.8;
    }
  }

  h3 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: $color-default-black;
    margin: 0 0 20px 0;
  }

  h4 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: $color-default-black;
    margin: 0 0 10px 0;
  }

  &__wrapper {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    @include vp-1199 {
      display: block;
    }
  }
  &__sliders {
    flex-basis: 744px;
    display: flex;
    gap: 10px;
    @include vp-1199 {
      margin-bottom: 30px;
    }
    @include vp-807 {
      flex-basis: 576px;
      margin-bottom: 30px;
    }
    @include vp-615 {
      flex-direction: column;
    }
  }
  &__slider {
    flex-basis: 622px;
    flex-shrink: 0;
    min-width: 0;
    border-radius: 20px;
    cursor: pointer;
    @include vp-807 {
      flex-basis: 474px;
    }
    @include vp-615 {
        flex-basis: unset;
    }
  }
  &__slider-image {
    border-radius: 20px;
    overflow: hidden;
    height: 357px;
    @include vp-807 {
      height: 280px;
    }
    @include vp-615 {
      height: 213px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-body {
    border-radius: 20px;
  }

  &__sub-slider-body {
    min-width: 0;
  }

  &__sub-slider {
    flex-basis: 130px;
    min-width: 0;
    flex-shrink: 0;
    @include vp-807 {
      flex-basis: 92px;
    }
    @include vp-615 {
      flex-basis: unset;
      display: flex;
    }
  }

  &__sub-slider-item {
    height: 77px !important;
    @include vp-807 {
      height: 51px !important;
    }
    @include vp-615 {
      height: 75px !important;
    }
  }
  &__sub-slider-image {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 77px;
    @include vp-807 {
      height: 51px;
    }
    @include vp-615 {
      height: 75px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 1px solid #F8585B;
      opacity: 0;
      border-radius: 10px;
      transition: opacity 0.2s
    }
  }
  &__button {
    border-radius: 100px;
    border: 1px solid #f73b3e;
    box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.15);
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @include hover-focus {
      background: linear-gradient(180deg, #ff4548 0%, #d21013 100%);
    }
    @include vp-615 {
      height: unset ;
      width: 43px;
    }
    &--top {
      &:after {
        content: url("../../img/content/sliders/button-top.svg");
      }
      margin-bottom: 10px;
      @include vp-615 {
        margin-bottom: unset;
        margin-right: 10px;
        &::after {
          transform: rotate(-90deg);
        }
      }
      @include hover-focus {
        &:after {
          content: url("../../img/content/sliders/button-top-hover.svg");
        }
      }
    }
    &--bottom {
      &:after {
        content: url("../../img/content/sliders/button-bottom.svg");
      }
      @include vp-615 {
        margin-bottom: unset;
        margin-left: 10px;
        &::after {
          transform: rotate(-90deg);
        }
      }
      @include hover-focus {
        &:after {
          content: url("../../img/content/sliders/button-bottom-hover.svg");
        }
      }
    }
  }
  &__description-item {
    margin-bottom: 10px;
    line-height: 150%;

  }
  &__description-label {
    font-weight: 700;
    margin-right: 10px;
  }
}

.swiper-slide-thumb-active .object-card__sub-slider-image::after {
  opacity: 1;
}

