@use "../mixins" as *;
@use "../variables" as *;

.product {
  display: flex;
  border: 1px solid #dce7fd;
  border-radius: 20px;
  padding: 20px;
  color: #000;
  gap: 20px;
  height: 100%;
  @include vp-1023 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__content {
    display: flex;
    gap: 20px;
    flex-basis: 54%;
    @include vp-1023 {
      flex-basis: unset;
      display: block;
    }
    @include vp-767 {
      display: flex;
      margin-bottom: 10px;
    }
  }

  &__body {
      flex-grow: 1;
  }

  &__image {
    flex-basis: 100px;
    flex-shrink: 0;
    background: #ededed;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    height: 100px;
    @media (min-width: 768+px) and (max-width: 1023+px) {
      height: 240px;
      display: block;
      margin-bottom: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      max-height: 100px;
      @media (min-width: 768+px) and (max-width: 1023+px) {
        max-height: 240px;
      }
    }
    @include vp-767 {
      flex-basis: 120px;
      height: 120px;
      img {
        max-height: 120px;
      }
    }
  }

  &__characteristics {
    line-height: 140%;
    flex-grow: 1;
    flex-shrink: 0;
    span + span {
      margin-left: 5px;
    }
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 10px;
    display: block;
    @include vp-1199 {
      font-size: 16px;
    }
  }
  &__article {
    font-size: 14px;
    line-height: 145%;

    span + span {
      margin-left: 5px;
    }
  }
  &__actions {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    flex-shrink: 0;
    @include vp-1023 {
      flex-grow: unset;
    }
  }
  &__price {
    flex-grow: 1;
    line-height: 145%;
    @include vp-1023 {
      margin-bottom: 10px;
      flex-grow: unset;
    }
    span {
      font-weight: 700;
      font-size: 25px;
    }
  }
  &__btn {
    @include vp-1023 {
      width: 100%;
    }
    @include vp-389 {
      padding: 16px 20px;
    }
  }
}

