@use "../mixins" as *;
@use "../variables" as *;

.products {
  &__wrapper {
    @include vp-1023 {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -20px;
    }
  }
  &__item {
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    @include vp-1023 {
      flex-basis: 50%;
      padding: 0 10px;
      margin-bottom: 20px;
    }
    @include vp-1023 {
      flex-basis: 50%;
      padding: 0 10px;
      margin-bottom: 20px;
    }
    @include vp-767 {
      flex-basis: 100%;
      padding: 0 10px;
      margin-bottom: 20px;
    }
  }
  &__btn {
    margin-top: 30px;
  }
}

