.text-page {
  h2 {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #181d24;
    margin: 0 0 20px 0;
  }
  p {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #3e4958;
    margin: 0 0 0 0;
  }
  p + h2 {
    margin: 50px 0 20px 0;
  }
}
