@use "../mixins" as *;

.container {
  width: 100%;
  max-width: 1480px;
  margin: 0 auto;
  padding: 0 15px;
  @include vp-1919 {
    max-width: 1200px;
  }

  @include vp-1199 {
    max-width: 808px
  }

  @media (max-width: 768px) {
    max-width: 616px
  }

  @media (max-width: 577px) {
    max-width: 400px
  }

}
