mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Главная",
      },
      {
        href: "#",
        text: "Каталог ЖБИ",
        dropdown: [
          {
            href: "#",
            text: "Сваи железобетонные"
          },
          {
            href: "#",
            text: "Плиты дорожные"
          },
          {
            href: "#",
            text: "Плиты аэродромные ПАГ-14 ПАГ-18"
          },
          {
            href: "#",
            text: "Забор бетонный"
          },
          {
            href: "#",
            text: "Плиты перекрытия пустотелые"
          },
          {
            href: "#",
            text: "Другая продукция"
          },
        ]
      },
      {
        href: "#",
        text: "Цены"
      },

      {
        href: "#",
        text: "О заводе",
        dropdown: [
          {
            href: "#",
            text: "О заводе 1"
          },
          {
            href: "#",
            text: "О заводе 2"
          },
          {
            href: "#",
            text: "О заводе 3"
          }
        ]
      },
      {
        href: "#",
        text: "Объекты"
      },
      {
        href: "#",
        text: "Статьи о железобетоне"
      },
      {
        href: "#",
        text: "Контакты"
      },
    ]


  header.header(data-header)
      .header__top.top-header
        .container
          .top-header__wrapper
            a.top-header__email(href="mailto:Flagman.gbi@mail.ru") Flagman.gbi@mail.ru
            .top-header__actions
              a.top-header__button(href="#", aria-label="заказать обратный звонок")
                span заказать обратный звонок
              .top-header__contacts
                a.top-header__social-btn.top-header__social-btn--whatsapp(href="#", aria-label="Перейти в whatsapp")
                  +icon("whatsapp", 30, 31)
                a.top-header__social-btn.top-header__social-btn--telegram(href="#", aria-label="Перейти в telegram")
                  +icon("telegram", 26, 21)
                a.top-header__phone(href="tel:89166426203", aria-label="Позвонить по телефону") 8 (916) 642-62-03
      .header__bottom.bottom-header
        .container
          .bottom-header__wrapper
            a.bottom-header__logo.logo(href="#")
              +icon("logo", 286, 44)
            nav.main-nav
              ul.main-nav__list.list-reset(data-header-accordion)
                each item in headerLinks
                  li.main-nav__item(class={"main-nav__item--dropdown" : item.dropdown} data-header-accordion-item=!!item.dropdown)
                    a.main-nav__link(href=item.href data-header-link=!item.dropdown data-header-accordion-link=!!item.dropdown)!=item.text
                    if (item.dropdown)
                      +icon("dropdown", 16, 16)
                    if (item.dropdown)
                      ul.main-nav__sublist.list-reset
                        each subitem in item.dropdown
                          li.main-nav__subitem
                            a.main-nav__sublink(href=subitem.href)!=subitem.text
            .bottom-header__burger.burger(data-toggle-menu)
              .burger__lines
                span
                span
                span

