doctype html

include ../components

block variables

-
    const formSuccess = {
      title: "Заявка успешно отправлена",
      text: "Ожидайте звонка. Вас бесплатно проконсультирует наш специалист."
    }

html(lang="ru")
  head
    title=title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="description", content="Global")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload", href="fonts/placeholder.woff2", as="font", crossorigin="anonymous")
    //- При необходимости вы можете добавить разметку Open graf. - const Open graf = true

    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/img/favicon/site.webmanifest" crossorigin="use-credentials"/>


    if (openGraph)
      //- Обязательно измените содержание контента на тот что необходим!
      //- Введите заголовок
      meta(property="og:title", content="Заголовок")
      //- Введите заголовок путь к картинке
      meta(property="og:image", content="https://test.ru/img/open-graph.png")
      //- Введите необходимый тип
      meta(property="og:type", content="website")
      //- Введите адрес сайта
      meta(property="og:url", content="https://test.ru/")
      //- Введите описание
      meta(property="og:description", content="Описание")
      meta(property="og:image:width", content="1200")
      meta(property="og:description", content="630")

    link(rel="preload", href="fonts/Inter-Regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Inter-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-Bold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-ExtraBold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-ExtraBold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-Regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Montserrat-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/OpenSans-Bold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/OpenSans-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/OpenSans-Regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/OpenSans-Regular.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Oswald-Bold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Oswald-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Roboto-Bold.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Roboto-Bold.woff2", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Roboto-Regular.woff", as="font", crossorigin="anonymous")
    link(rel="preload", href="fonts/Roboto-Regular.woff2", as="font", crossorigin="anonymous")


    link(rel="stylesheet", href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      if (hasHeader)
        +header(headerMods, currentUrl)

      block main

      if (hasFooter)
        +footer(footerMods)

    block modals

    +modal()(data-modal="modal-callback-form")
      +callback()

    +modal()(data-modal="modal-consultation-form")
      +consultation()

    +modal()(data-modal="modal-order-form")
      +order()


    +modal()(data-modal="success")
      +form-success(formSuccess)


    script(src="js/main.min.js")
    script(src="js/vendor.min.js")
